{% extends "layout.html" %}
{% block content %}



<form action = "output/" method = "POST">
  <p><input class="button" type="submit" value="search"></p>

  <select name="listitem_1">
    {% for id, data, description in listitem_1 %}
      <option value="{{ description }}">{{ data }}</option>
    {% endfor %}
  </select>
  <select name="listitem_2">
    {% for id, data, description in listitem_2 %}
      <option value="{{ id }}">{{ data }}</option>
    {% endfor %}
  </select>
  <select name="listitem_3">
    {% for id, data in listitem_3 %}
      <option value="{{ id }}">{{ data }}</option>
    {% endfor %}
  </select>

</form>










<script src="/static/js/jquery-3.6.0.min.js"></script>

<script>
  $(function(){
    // ここにプログラムを記述
    // alert($('p').text());
  });
</script>

{% endblock %}

