
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel='stylesheet' href='/public/css/style.css' />
  </head>
   <body class="container">
 
   <main>
      <p><%= tagline %></p>

      <table>
        <% mascots.forEach(function(mascot) { %>
            <tr>
                <td class="col1"><%= mascot.name %></td>
                <td class="col2"><%= mascot.organization %></td>
                <td class="col3"><%= mascot.birth_year %></td>
                <td class="col4"></td>
                <td class="col5"></td>
            </tr>
        <% }); %>
      </table>

    </main>
 

</body>
</html>
