
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>完了</title>
  </head>
  <body>
    <h1>完了</h1>
    <p>登録が完了しました。</p>

    <form method="POST" action="/shop/complete">
      <div>
        <input type="submit" name="btn-back" value="戻る" />
      </div>
    </form>

  </body>
</html>

