
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>title</title>
</head>
<body>
    <form action="/like" method="post" >
        <input type="submit" value="いいね"> <%= like %>
    </form>
</body>
</html>

